<div class="slideLeftBox toggle">
    <div class="slideLeftBox__fade"></div>
    <div class="slideLeftBoxCover slideLeftBoxCover--headerFixed">
      <div class="slideLeftBox__header">
        <div>Add New User</div>
        <i (click)=close() id="close" class="bi bi-box-arrow-right slideLeftBox__header__close"></i>
      </div>
      <div class="container-fluid slideLeftBox__body">
        <div class="row">
          <div class="col-6 inputIcon">
            <div class="input-group">
              <i class="bi bi-person"></i>
              <input type="text" placeholder="First Name" class="form-control">
            </div>
          </div>
          <div class="col-6 inputIcon">
            <div class="input-group">
             
              <input type="text" placeholder="Last Name" class="form-control">
            </div>
          </div>
          <div class="col-6 inputIcon">
            <div class="input-group">
              <i class="bi bi-phone"></i>
              <input type="text" placeholder="Mobile Number" class="form-control">
            </div>
          </div><div class="col-6 inputIcon">
            <div class="input-group">
              <i class="bi bi-envelope"></i>
              <input type="text" placeholder="Email ID" class="form-control">
            </div>
          </div>
          <div class="col-6 inputIcon">
            <div class="input-group">
              <i class="bi bi-person-check"></i>
              <input type="text" placeholder="Login ID" class="form-control">
            </div>
          </div><div class="col-6 inputIcon">
            <div class="input-group">
              <i class="bi bi-key"></i>
              <input type="text" placeholder="Login Password" class="form-control">
            </div>
          </div><div class="col-6">
            <div class="input-group">
              <select class="form-control">
                <option>Assign Role</option>
              </select>
            </div>
          </div>
          <div class="col-6">
            <div class="input-group">
              <select class="form-control">
                <option>Status</option>
              </select>
            </div>
          </div>
        </div>

        <div class="row d-flex justify-content-center mt-5">
          <div class="col-auto">
            <button class="btnUI"><i class="bi bi-star"></i> New</button>          
          </div>
          <div class="col-auto">
            <button class="btnUI"><i class="bi bi-cloud-download"></i> Save</button>
          </div>
          <div class="col-auto">
            <button class="btnUI"><i class="bi bi-x-circle"></i> Cancel</button>             
          </div>
        </div>

      </div>
    </div>
  </div>
