<div class="pageCoverLogin">
    <div class="loginBox">
      <img src="assets/images/logo-black-darkTheme.png" class="loginBox__logo"/>
      <div class="d-flex">
        <input type="text" class="loginBox__input" placeholder="Username / email" />
        <input type="password" class="loginBox__passowrd" placeholder="Password" />
        <a  class=""[routerLink]="['/layout/dashboard']"  routerLinkActive="active"> <button class="loginBox__btn">Login</button></a>
      </div>
    </div>
  </div>
