<div class="container-fluid">
    <div class="cardBox mt-3">
      <div class="cardBox__header justify-content-start">
        <h4>Add New Plot</h4>
      </div>
      <div class="cardBox__content">
        <div class="row">
          <div class="col">
            <div class="input-group">
              <label>Plot ID</label>
              <input type="text" class="form-control" disabled placeholder="New" />
            </div>
          </div>
          <div class="col">
            <div class="input-group">
              <label>Plot Type</label>
              <input type="text" class="form-control" placeholder="Plot Type" />
            </div>
          </div>
          <div class="col">
            <div class="input-group">
              <label>Phase</label>
              <input type="text" class="form-control" placeholder="Phase" />
            </div>
          </div>
          <div class="col">
            <div class="input-group">
              <label>Island</label>
              <select class="form-control">
                <option>Fayooz 4t</option>
              </select>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <div class="input-group">
              <label>Plot No</label>
              <input type="text" class="form-control" placeholder="Plot No" />
            </div>
          </div>
          <div class="col">
            <div class="input-group">
              <label>Housing No</label>
              <input type="text" class="form-control" placeholder="Housing No" />
            </div>
          </div>
          <div class="col">
            <div class="input-group">
              <label>Road No</label>
              <input type="text" class="form-control" placeholder="Road No" />
            </div>
          </div>
          <div class="col">
            <div class="input-group">
              <label>Block No</label>
              <input type="text" class="form-control" placeholder="Block No" />
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <div class="input-group">
              <label>Case No</label>
              <input type="text" class="form-control" placeholder="Case No" />
            </div>
          </div>
          <div class="col">
            <div class="input-group">
              <label>Property No</label>
              <input type="text" class="form-control" placeholder="Property No" />
            </div>
          </div>
          <div class="col">
            <div class="input-group">
              <label>Plot Area</label>
              <input type="text" class="form-control" placeholder="Plot Area" />
            </div>
          </div>
          <div class="col">
            <div class="input-group">
              <label>Customer</label>
              <div class="iconInput">
                <input type="text" class="form-control form-elementUI" placeholder="Customer" />
                <i class="bi bi-person-circle text-warning "></i>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <div class="input-group">
              <label>Deed Number</label>
              <input type="text" class="form-control" placeholder="Deed Number" />
            </div>
          </div>
          <div class="col">
            <div class="input-group">
              <label>Status</label>
              <input type="text" class="form-control" placeholder="Status" />
            </div>
          </div>
          <div class="col pt-2">
            <span class="checkCover mt-4">
              <input type="checkbox" class="checkCover__check">
              <span class="checkCover__btn"></span>
              <label>Hand Over Villas</label>
            </span>
          </div>
          <div class="col pt-2">
            <span class="checkCover mt-4">
              <input type="checkbox" class="checkCover__check">
              <span class="checkCover__btn"></span>
              <label>Hand Over Deed</label>
            </span>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <div class="input-group">
              <label>Premimum</label>
              <input type="text" class="form-control" placeholder="Premimum" />
            </div>
          </div>
          <div class="col">
            <div class="input-group">
              <label>Hand Over Months</label>
              <input type="text" class="form-control" placeholder="Hand Over Months" />
            </div>
          </div>
          <div class="col-1"></div>
          <div class="col">
          
            <div class="input-group">
              <label>Villa Type</label>
              <select class="form-control">
               <option>123</option>
             </select>
            </div>
          </div>
          <div class="col">
            <div class="input-group pt-4">
              <input type="text" class="form-control"/>
            </div>
          </div>
         <div class="col-1"></div>
        </div>
        <div class="row">
          <div class="col">
            <div class="input-group">
               <label>Pool</label>
             <select class="form-control">
               <option>E1 - Floating</option>
             </select>
            </div>
          </div>
          <div class="col">
            <div class="input-group pt-4">
              <input type="text" class="form-control" placeholder="" />
            </div>
          </div>
          <div class="col-1"></div>
          <div class="col">
            <div class="input-group">
              <label>Jacuzz</label>
             <select class="form-control">
               <option>None Selected</option>
             </select>
            </div>
          </div>
          <div class="col">
            <div class="input-group pt-4">
              <input type="text" class="form-control"/>
            </div>
            
          </div>
          <div class="col-1"></div>
        </div>
        <div class="row">
          <div class="col">
            <div class="input-group">
              <label>Pool House</label>
             <select class="form-control">
               <option>None Selected</option>
             </select>
            </div>
          </div>
          <div class="col">
            <div class="input-group pt-4">
              <input type="text" class="form-control" placeholder="" />
            </div>
          </div>
          <div class="col-1"></div>
          <div class="col">
            <div class="input-group">
              <label>Other Charges</label>
             <select class="form-control">
               <option>Other Charges</option>
             </select>
            </div>
          </div>
          <div class="col">
            <div class="input-group pt-4">
              <input type="text" class="form-control" placeholder="" />
            </div>
          </div>
          <div class="col-1"></div>
        </div>
        <div class="row">
          <div class="col">
            <div class="input-group">
              <label>Lift</label>
             <select class="form-control">
               <option>None Selected</option>
             </select>
            </div>
          </div>
          <div class="col">
            <div class="input-group pt-4">
              <input type="text" class="form-control" placeholder="" />
            </div>
          </div>
          <div class="col-1"></div>
          <div class="col">
            <div class="input-group">
              <label>Tax</label>
             <select class="form-control">
               <option>Tax</option>
             </select>
            </div>
          </div>
          <div class="col">
            <div class="input-group pt-4">
              <input type="text" class="form-control" placeholder="" />
            </div>
          </div>
          <div class="col-1"></div>
        </div><div class="row">
          <div class="col">
          </div>
          <div class="col">
          </div>
          <div class="col-1"></div>
          <div class="col">
            <div class="input-group">
              <label>Discount Premimum</label>
             <input type="text" class="form-control" style="text-align:right" placeholder="00.00" />
                                   
            </div>
          </div>
          <div class="col">
            <div class="input-group">
            <label>Total</label>
              <input type="text" class="form-control" style="text-align:right" placeholder="00.00" />
            </div>
          </div>
          <div class="col-1"></div>
        </div>
        
        <div class="row">
          <div class="col-6">
            <div class="input-group">
              <label>Groups</label>
              <textarea class="form-control" rows="5" placeholder="Groups"></textarea>
            </div>
          </div>
          <div class="col-6">
            <div class="input-group">
              <label>Note</label>
              <textarea class="form-control" rows="5" placeholder="Show Villa"></textarea>
            </div>
          </div>
        </div>
        <div class="row d-flex justify-content-center my-4">
          <div class="col-auto">
            <div class="input-group">
              <button class="btnUI"><i class="bi bi-save"></i> Save</button>
            </div>              
          </div>
          <div class="col-auto">
            <div class="input-group">
              <button class="btnUI"><i class="bi bi-x-circle"></i> Clear</button>
            </div>              
          </div>
          <div class="col-auto">
            <div class="input-group">
              <button class="btnUI"><i class="bi bi-plus-circle"></i> Add New</button>
            </div>              
          </div>
          <div class="col-auto">
            <div class="input-group">
              <button class="btnUI"><i class="bi bi-plus-circle"></i> Close</button>
            </div>              
          </div>
        </div>
      </div>
    </div>
    
    <div class="cardBox mt-3">
      <div class="cardBox__header justify-content-start">
        <h4>Bulk Upload</h4>
      </div>
      <div class="cardBox__content">
        <div class="row">
          <div class="col">
            Upload plot details.csv file format
          </div>
          <div class="col d-flex justify-content-end">
            <a href="#" class="text-reset"><i class="bi bi-info-circle"></i> Click here to download sample csv file</a>
          </div>
        </div>
        <div class="row d-flex align-items-center mt-3">
          <div class="col-6">
            <input type="file" class="form-control" />
          </div>
          <div class="col-auto">
            <button class="btnUI">Upload File</button>
          </div>
        </div>
      </div>
    </div>
  </div>
