<div class="container-fluid">
    <div class="row py-4 px-4 d-flex align-items-center">
      <div class="col">
        <div>
          <h4>Manage Users</h4>
          <span class="fs-6">Create new users or updeate the exsiting users. You can then set their permissions here too</span>
        </div>                  
      </div>
      <div class="col-auto">
        <a  > <button type="button"  (click)="newUser()"class="btn btnUI" id="newUser"><i class="bi bi-plus-circle"></i> Add New User</button></a>
      </div>
    </div>
  </div>
  <div class="table-responsive">
    <table class="table tableUI">
      <thead>
        <tr>
          <th><input type="checkbox" /></th>
          <th>Username</th>
          <th>Role</th>
          <th>Email</th>
          <th>Status</th>
          <th>Last seen</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td><input type="checkbox" /></td>
          <td>ruknal</td>
          <td><select class="form-select form-select--tableSelect"><option>Admin</option></select></td>
          <td><span class="text-truncate d-inline">ruknal@domain.com</span></td>
          <td>Active</td>
          <td><span class="text-truncate d-inline">02 days 10:30:12 ago</span></td>
          <td>
            <ul class="tableUI__action__ul">
              <li><i class="bi bi-arrow-repeat text-success"></i></li>
              <li><i class="bi bi-pencil text-primary"></i></li>
              <li><i class="bi bi-trash tableUI__action__red"></i></li>
            </ul>
          </td>
        </tr>
        <tr>
          <td><input type="checkbox" /></td>
          <td>ruknal</td>
          <td><select class="form-select form-select--tableSelect"><option>Admin</option></select></td>
          <td><span class="text-truncate d-inline">ruknal@domain.com</span></td>
          <td>Active</td>
          <td><span class="text-truncate d-inline">02 days 10:30:12 ago</span></td>
          <td>
            <ul class="tableUI__action__ul">
              <li><i class="bi bi-arrow-repeat text-success"></i></li>
              <li><i class="bi bi-pencil text-primary"></i></li>
              <li><i class="bi bi-trash tableUI__action__red"></i></li>
            </ul>
          </td>
        </tr>
        <tr>
          <td><input type="checkbox" /></td>
          <td>ruknal</td>
          <td><select class="form-select form-select--tableSelect"><option>Admin</option></select></td>
          <td><span class="text-truncate d-inline">ruknal@domain.com</span></td>
          <td>Active</td>
          <td><span class="text-truncate d-inline">02 days 10:30:12 ago</span></td>
          <td>
            <ul class="tableUI__action__ul">
              <li><i class="bi bi-arrow-repeat text-success"></i></li>
              <li><i class="bi bi-pencil text-primary"></i></li>
              <li><i class="bi bi-trash tableUI__action__red"></i></li>
            </ul>
          </td>
        </tr>
        <tr>
          <td><input type="checkbox" /></td>
          <td>ruknal</td>
          <td><select class="form-select form-select--tableSelect"><option>Admin</option></select></td>
          <td><span class="text-truncate d-inline">ruknal@domain.com</span></td>
          <td>Active</td>
          <td><span class="text-truncate d-inline">02 days 10:30:12 ago</span></td>
          <td>
            <ul class="tableUI__action__ul">
              <li><i class="bi bi-arrow-repeat text-success"></i></li>
              <li><i class="bi bi-pencil text-primary"></i></li>
              <li><i class="bi bi-trash tableUI__action__red"></i></li>
            </ul>
          </td>
        </tr>
        <tr>
          <td><input type="checkbox" /></td>
          <td>ruknal</td>
          <td><select class="form-select form-select--tableSelect"><option>Admin</option></select></td>
          <td><span class="text-truncate d-inline">ruknal@domain.com</span></td>
          <td>Active</td>
          <td><span class="text-truncate d-inline">02 days 10:30:12 ago</span></td>
          <td>
            <ul class="tableUI__action__ul">
              <li><i class="bi bi-arrow-repeat text-success"></i></li>
              <li><i class="bi bi-pencil text-primary"></i></li>
              <li><i class="bi bi-trash tableUI__action__red"></i></li>
            </ul>
          </td>
        </tr>
        <tr>
          <td><input type="checkbox" /></td>
          <td>ruknal</td>
          <td><select class="form-select form-select--tableSelect"><option>Admin</option></select></td>
          <td><span class="text-truncate d-inline">ruknal@domain.com</span></td>
          <td>Active</td>
          <td><span class="text-truncate d-inline">02 days 10:30:12 ago</span></td>
          <td>
            <ul class="tableUI__action__ul">
              <li><i class="bi bi-arrow-repeat text-success"></i></li>
              <li><i class="bi bi-pencil text-primary"></i></li>
              <li><i class="bi bi-trash tableUI__action__red"></i></li>
            </ul>
          </td>
        </tr>
      </tbody>                  
    </table>
  </div>

