<div class="slideLeftBox toggle">
    <div class="slideLeftBox__fade"></div>
    <div class="slideLeftBoxCover slideLeftBoxCover--headerFixed slideLeftBoxCover--footerFixed">
      <div class="slideLeftBox__header">
        <div>Add Customer Information</div>
        <i [routerLink]="['/layout/customer_management_system']"  routerLinkActive="active"class="bi bi-box-arrow-right slideLeftBox__header__close"></i>
      </div>
      <div class="container-fluid slideLeftBox__body">
        <div class="row">
          <div class="col-6">
            <div class="input-group"><input type="text" placeholder="Customer ID" class="form-control" /></div>
          </div>
          <div class="col-6">
            <div class="input-group">
              <select class="form-control">
                <option>Customer Type</option>
              </select>
            </div>
          </div>
          <div class="col-6">
            <div class="input-group">
              <select class="form-control">
                <option>Customer Type</option>
              </select>
            </div>
          </div>
          <div class="col-6">
            <div class="input-group">
              <select class="form-control">
                <option>Customer Type</option>
              </select>
            </div>
          </div>
          <div class="col-6">
            <div class="input-group">
              <select class="form-control">
                <option>Customer Type</option>
              </select>
            </div>
          </div>
          <div class="col-6">
            <div class="input-group">
              <select class="form-control">
                <option>Customer Type</option>
              </select>
            </div>
          </div>              
          <div class="col-6"><div class="input-group"><input type="text" placeholder="Passport Number" class="form-control" /></div></div>
          <div class="col-6"><div class="input-group"><input type="text" placeholder="CPR" class="form-control" /></div></div>
          <div class="col-6"><div class="input-group"><input type="text" placeholder="CR" class="form-control" /></div></div>
        </div>
        <hr class="hr" />
        <div class="row">
          <div class="col-6 inputIcon"><div class="input-group"><i class="bi bi-person"></i><input type="text" placeholder="First Name" class="form-control" /></div></div>
          <div class="col-6 inputIcon"><div class="input-group"><i class="bi bi-person"></i><input type="text" placeholder="Last Name" class="form-control" /></div></div>
          <div class="col-6 inputIcon"><div class="input-group"><i class="bi bi-phone"></i><input type="text" placeholder="Phone Number" class="form-control" /></div></div>
          <div class="col-6 inputIcon"><div class="input-group"><i class="bi bi-person"></i><input type="text" placeholder="First Name" class="form-control" /></div></div>
          <div class="col-6 inputIcon"><div class="input-group"><i class="bi bi-phone"></i><input type="text" placeholder="First Name" class="form-control" /></div></div>
          <div class="col-6 inputIcon"><div class="input-group"><i class="bi bi-house"></i><input type="text" placeholder="First Name" class="form-control" /></div></div>
          <div class="col-12"><label class="formLabel">Mailing <Address></Address></label></div>
          <div class="col-6 inputIcon"><div class="input-group"><i class="bi bi-house"></i><input type="text" placeholder="First Name" class="form-control" /></div></div>
          <div class="col-6 inputIcon"><div class="input-group"><i class="bi bi-house"></i><input type="text" placeholder="First Name" class="form-control" /></div></div>
          <div class="col-6 inputIcon"><div class="input-group"><i class="bi bi-house"></i><input type="text" placeholder="First Name" class="form-control" /></div></div>
          <div class="col-12">
            <span class="checkCover"><input type="checkbox" class="checkCover__check" /><span class="checkCover__btn rounded-circle"></span><label><address> address and residential addres are same</address></label></span>
          </div>
        </div>
      </div>
      <div class="slideLeftBox__footer">
        <button class="btnUI"><i class="bi bi-star"></i> New</button>
        <button class="btnUI"><i class="bi bi-save"></i> Save</button>
        <button class="btnUI"><i class="bi bi-plus-circle"></i> Cancel</button>
      </div>
    </div>
  </div>
